# All the default Omarchy aliases and functions
# (don't mess with these directly, just overwrite them here!)

{{ if eq .chezmoi.os "darwin" }}
# darwin
{{ else if eq .chezmoi.os "linux" }}
source ~/.local/share/omarchy/default/bash/rc
{{ end }}

# Add your own exports, aliases, and functions here.
#
# Make an alias for invoking commands you use constantly
# alias p='python'
alias dc='docker compose'
alias lg='lazygit'
alias gst='git status'
alias gaa='git add -A'
alias gcmsg='git commit -m'

export PATH="/home/lmyslinski/.local/bin:$PATH"
export PATH="/home/lmyslinski/.opencode/bin:$PATH"

. "$HOME/.local/share/../bin/env"

